@font-face {
    font-family: Roboto;
    src: url("../src/fonts/Roboto-Regular.ttf") format('truetype');
    font-style: normal;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: Roboto, Arial, sans-serif;
    color: #ffffff;
    background-color: #03e8e2;
}

.info {
    padding: 50px;
    font-size: 50px;
    text-align: center;
    color: #000000;
}

.city{
    position: absolute;
    bottom: 200px;
    width: 100%;
    height: 218px;
    background-image: url(../src/images/city.png);
    background-size: contain;
    background-repeat: repeat-x;
}

.start, .finish {
    display: block;
    position: absolute;
    bottom: 0;
    height: 100%;
}
.start {
    left: 100px;
}
.finish {
    right : 100px;
}

.car{
    position: absolute;
}

.road {
    position: absolute;
    bottom: 0;
    width: 100%;
    height : 200px;
    background-image: url(../src/images/road.png);
    background-size: contain;
    background-repeat: repeat-x;
}